@media only screen and (max-width:500px){
    html,body{
        overflow-x: hidden;
        width:100%;
        height:100%;
     }
.navbar{
    display: inline-table;
    width: 93%;
    left: -81%;
    margin: 4px 300px; 
}
.nav-list{
    width: 79%;
    display: grid;
    justify-content: initial;
}
.logo{
    left: 3px;
}
.nav-list button{
    margin: 12px 12px;
}
.container{
    display: block;

}
.card-container{
    width: 90%;
    margin: 11px 4px;
    padding: 10px;
}
.title{
    position: relative;
    left: 8px;
}
.price{
    position: relative;
    left: 229px;
    top: -31px;
}
.description{
    position: relative;
    top: -30px;
    left: 7px;
}
.read{
    display: none;
}
.media{
    position: relative;
    top: 10px;
    left: 11px;
    height: 300px;
    width: 300px;
}
.order{
    position: relative;
    top: 30px;
    left: 100px;
}



    
}